{{>head}}
{{>header}}
<article>
    <p style="display:grid; justify-items:center"><img src="/img/me.png" ></p>
    <p>This is a little project I made learning Vanilla Javascript and Node. 
        I was trying to create a backend server for getting the weather based either on location or co-ordinates. 
        The application also served a front end based on handlebars that allows the user to search or click on a map to find their desired location. 
        This then updates the map with that location and also the weather for the searched location.</p>
</article>
{{>footer}}