{{>head}}
    {{>header}}

<article class="pa3 pa5-ns">
    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>
    <div>
        <p id="forecast"></p>
        <p id="location"></p>
    </div>
    </article>
{{>footer}}