<footer class="ph3 ph4-ns pv6 bt b--black-10 black-70">
    {{!-- <a href="mailto:" class="link b f3 f2-ns dim black-70 lh-solid">development@hiltonmeyer.com</a> --}}
    <p>Created by {{author}}</p>
</footer>

 <script src="/js/app.js"></script>
</body>

</html>